* {
   box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans";
    display: flex;
    position: relative;
    cursor: url('img/icons/noise.png'), auto;
}
.content {
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.words {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;

}
.words span {
    font-size:80px;
    font-weight: 700;
    color:#fbfbfb;
    margin: 0;
    background: #fff;
    display: inline-block;
    transform: rotateX(0deg);
    transition: transform 0.5s ease-out;
}
.words span:hover {
    color:#eee;
    cursor: url('img/icons/klik-iba.png'), auto;
}
.words span.scale {
    display: inline-block;
    transform: rotateX(360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 {
    position: fixed;
    color: #fff;
    left: 0;
    bottom: 50%;
    margin: 0;
    background: #000;
    font-size: 30px;
    padding: 20px;
    z-index: 100;
}
.name.scale {background: -webkit-linear-gradient(left, #000 100%, #eee 100%);}
.js.scale {background: -webkit-linear-gradient(left, #000 70%, #eee 70%);}
.ang.scale {background: -webkit-linear-gradient(left, #000 55%, #eee 55%);}
.git.scale {background: -webkit-linear-gradient(left, #000 30%, #eee 30%);}
.py.scale {background: -webkit-linear-gradient(left, #000 15%, #eee 15%);}
.ae.scale {background: -webkit-linear-gradient(left, #000 70%, #eee 70%);}
.ppro.scale {background: -webkit-linear-gradient(left, #000 85%, #eee 85%);}
.ps.scale {background: -webkit-linear-gradient(left, #000 92%, #eee 92%);}
.il.scale {background: -webkit-linear-gradient(left, #000 80%, #eee 80%);}
.flask.scale {background: -webkit-linear-gradient(left, #000 30%, #eee 30%);}
.mysql.scale {background: -webkit-linear-gradient(left, #000 30%, #eee 30%);}
.html.scale {background: -webkit-linear-gradient(left, #000 95%, #eee 95%);}
.gulp.scale {background: -webkit-linear-gradient(left, #000 70%, #eee 70%);}
.eng.scale {background: -webkit-linear-gradient(left, #000 85%, #eee 85%);}
.ger.scale {background: -webkit-linear-gradient(left, #000 30%, #eee 30%);}
.esp.scale {background: -webkit-linear-gradient(left, #000 10%, #eee 10%);}
.va.scale {background: -webkit-linear-gradient(left, #000 50%, #eee 50%);}
.dance.scale {background: -webkit-linear-gradient(left, #000 70%, #eee 70%);}
.diy.scale {background: -webkit-linear-gradient(left, #000 70%, #eee 70%);}
.lick.scale {background: -webkit-linear-gradient(left, #000 100%, #eee 100%);}
.bw.scale {background: -webkit-linear-gradient(left, #000 100%, #eee 100%);}

@media only screen and (max-width: 480px) {
    .content {
        padding: 5px;
    }
    .words {
        padding: 0.5rem;
        max-width: 100%;
        height: 100%;
    }
    .words span{
        font-size: 50px;
        color:#eee;
    }
}
