html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.background {
    position: absolute;
    z-index: 0;
    top: 0;
    margin-top: -70px;
    left: 0;
    margin-left: -100px;
    height: 110%;
    width: 110%;
    opacity: 0.3;
}
.background .background--desktop {
    height: 100%;
    width: 100%;
}
.background .background--mobile {
    display: none;
}
.title {
    font-size: 2rem;
    font-weight: 400;
    display: block;
    margin: 0;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}
a {
    text-decoration: none;
    color:#fff;
}
.main-photo, .base {
    cursor: url('img/icons/dotbw.png'), auto;
}
.base {
    height: 100%;
    width: 100%;
    background:#faf9f7;
    background-size: cover;
    color:#000;
}

.wrapper {
    height: 95%;
    width: 80%;
    margin:0 auto;
    /*display: none;*/
}

nav.header {
    border-bottom:1px solid pink;
    display:flex;
    justify-content:center;
    align-items:center;
    position: absolute;
    z-index: 100;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding: 12px 0;
}
#section__button {
    text-align: center;
    margin-top: 75px;
}
.button__wrapper {
    display: flex;
    justify-content: space-between;
    position:absolute;
    width: 200px;
    margin-left: -100px;
    top:3rem;
    left:50%;
    pointer-events: auto;
    z-index: 100;
}
.button {
    padding: 5px 10px;
    border:1px solid #fff;
    border-radius: 7px;
    color:#fff;
    display: inline-block;
}

#section__main {
    height:100vh;
}
.main {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.main-photo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.main-photo__row {
    display: flex;
    position: relative;
    width: 90%;
    justify-content: center;
}
.main-photo__row.middle{
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-photo {
    margin: 0 2%;
    position: relative;
    width: auto;
    opacity: 1;
}
@keyframes fading {
    0% {opacity: 1}
    100% {opacity: 0.5}
}

.main-photo a {
    margin:0;
    display: block;
    position: relative;
    overflow: hidden;
}
.main-photo a:active { /* bez tohto nefunguje hover event */
    pointer-events: none; /* ked je tu, vsade klika na main-photo */
}
.frame__overlay.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.main-photo .main-photo__image {
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
}
/*.main-photo .main-photo__image.opaque {
    opacity: 0;
    transition: opacity 3s ease-out;
}*/
.main-photo .main-photo__image:hover {
    transform: scale(1.02);
    filter: grayscale(0%);
}
.main-photo .main-photo__overlay {
    display: none;
}
.section-desc {
    position: absolute;
    bottom:50px;
    right:10%;
    font-size: 1.5rem;
    color:#fff;
}

.frame__overlay {
    position: absolute;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    user-select: none;
}
.frame__desc {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.8rem;
    color: #fff;
}
.frame__photo {
    height: 40%;
    position: absolute;
    top: 0;
}
.frame__photo img {
    max-width: 100%;
    max-height: 100%;
}
.photos-frame .frame__desc {
    pointer-events: none;
}
.frame__overlay:hover {
    color: #fca895;
}
.frame__desc--small {
    font-size: 1rem;
}
.link {
    pointer-events: auto !important;
}
.frame__close {
    position:absolute;
    top:0;
    z-index:10;
    display: flex;
    align-items: center;
    color:#fff;
    padding: 10px;
    max-height: 55px;
    transition: color 0.2s;
}
.frame__close:hover {
    color: #aaa;
}

.close__cross {
    width: 40px;
    height: 40px;
    top: 25px;
    left:0;
    padding: 1rem;
}

.close__cross:after,.close__cross:before {
    position: absolute;
    left: 34px;
    content: ' ';
    height: 40px;
    width: 1px;
    background-color: #fff;
}

.close__cross:after {
    transform: rotate(45deg);
}

.close__cross:before {
    transform: rotate(-45deg);
}

.close__text {
    font-size:20px;
}
.menu {
    display:flex;
    justify-content: space-between;
    width:40%;
}
.menu__item {
    list-style: none;
    padding: 0 10px;
}
.menu__item a {
    line-height:30px;
}
.claim {
    max-width:450px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.mesh {
    display: none;
}
/*gallery*/
.gallery__modal {
    background: rgba(0.2,0.2,0.2,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}

.modal {
    width:70%;
    margin:0 auto;
}

/*close button*/
.modal__close {
    /*background:#aaa;*/
    width: 70px;
    height: 70px;
    position: absolute;
    top: 25px;
    right:45px;
}

.modal__close:after,.modal__close:before {
    position: absolute;
    left: 34px;
    content: ' ';
    height: 70px;
    width: 1px;
    background-color: #fff;
}

.modal__close:after {
    transform: rotate(45deg);
}

.modal__close:before {
    transform: rotate(-45deg);
}

.modal__photo {
    position: relative;
    margin-top:70px;
}

.modal__img {
    width:100%;
    height:auto;
    margin:0;
}

.mobile__overlay {
    display: none;
}
.mobile__photo {
    display: none;
}
.mobile__photo img {
    max-width: 100%;
}
.mobile__arrow {
    display: none;
}


/*480px, 768px, 1024px, and 1280px*/
.mobile__detect {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .button {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 768px) {
    body {
        overflow: auto;
    }
    #section__main, .main-photo__wrapper {
        height: 100%;
    }
    .mobile__detect {
        display: block;
    }

    .wrapper {
        width: 85%;
    }
    #section__main {
        height: auto;
    }
    .main {
        overflow: auto;
    }
    .main-photo .main-photo__overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        opacity: 0.5;
        animation: color 10s infinite linear;
    }
    @keyframes color {
    0% { transform: translateX(10px)}
    50% { transform: translateX(-10px)}
    100% { transform: translateX(10px)}
    }
    .main-photo__wrapper {
        margin:0 auto;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    .main-photo__wrapper.rotate {
        transform: rotateZ(0deg);
    }
    .main-photo__wrapper .main-photo__row {
        flex-direction: column;
        margin: 0 auto;
    }
    .main-photo__wrapper .main-photo.about-frame {order: 1;}
    .main-photo__wrapper .main-photo.photos-frame {order: 2;}
    .main-photo__wrapper .main-photo.video-frame {order: 3;}
    .main-photo__wrapper .main-photo.dev-frame {order: 4;}
    .main-photo__wrapper .main-photo.other-frame {order: 5;}

    .main-photo {
        margin:0 0 0.1rem 0;
        scroll-snap-align: start;

    }
    .main-photo > a {
        /*height: 100vh;*/
        max-height: none;
    }
    .frame__desc {
        bottom: 49%;
        right: 15px;
        pointer-events: auto;
    }
    .title {
        font-size: 2rem;
        bottom: 15%;
    }
/*    .hamburger {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 2rem;
        left: 2rem;
        display: flex;
        flex-direction: column;
        z-index: 10;
        justify-content: space-between;
    }
    .hamburger__line {
        border-bottom: 2px solid #fff;

    }*/
    .close__text {
        display: none;
    }
    .mobile__photo {
        padding-top: 4rem;
        display: flex;
        flex-direction: column;

    }
    .photo-top {
        /*margin-bottom: 2rem;*/
    }
    .photo-bottom {
        /*margin-top: 2rem;*/
    }
/*    .mobile__arrow {
        display: none;
        width: 40px;
        height: 40px;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: rotate(45deg);
    }*/
    div.main-photo__wrapper:not(.section-photo) .main-photo .main-photo__image {
        object-fit: cover;
        /*height: 100%;*/
    }

    .button__wrapper {
        display: none;
    }

    /*pravo vlavo*/
    .modal__arrow {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        margin-top:-50px;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        pointer-events:none;
    }

    .modal__arrow--right {
        right:30px;
        transform: rotateZ(45deg);

    }
    .modal__arrow--left {
        left:30px;
        transform: rotateZ(-135deg);
    }

    .toLeft, .toRight {
        position: absolute;
        top:0;
        bottom:0;
        width:50%;
    }

    .toLeft {
        left:0;
    }

    .toRight {
        right:0;
    }
    .background {
        top: 0;
        left: 0;
        margin-top: 0;
        margin-left: -25px;
        height: 100%;
        width: 120%;
        position: fixed;
    }
    .background .background--desktop {
        display: none;
    }
    .background .background--mobile {
        display: block;
        width: 100%;
        height: 100%;
    }
    .main-photo {
        margin: 20px 0;
    }
    .mesh {
        display: block;
        width: 350px;
        height: 235px;
        overflow: hidden;
        margin-top: 40px;
    }
    .photos-frame .frame__desc {
        pointer-events: auto !important;
        top: 1rem;
        bottom: auto;
    }
    .photos-frame .frame__overlay {
        background: url('img/icons/grid6b.svg') no-repeat;
    }
    .photos-frame .frame__overlay::after {
        content: '';
        background: #000;
        opacity: 0.8;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .frame__desc--small {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 480px) {

}
