#Layer_1 {
    /*animation: rotation 15s ease;*/

}

#mesh-svg {
    /*animation: rotation 15s ease;*/

}
#mesh-svg path{
    /*animation: rotation 15s ease;*/

}
#mesh-svg-path1 {
    /*animation: rotation 15s ease;*/
}
#mesh-svg-path2 {
    /*animation: rotation 15s ease;*/

}
@keyframes rotation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes wave {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
